services:
    build:
        build: .
        volumes:
            - .:/app
            # Keep node_modules and Rust artifacts inside the container
            # to avoid host/container OS conflicts
            - /app/node_modules
            - cargo-registry:/root/.cargo/registry
            - cargo-git:/root/.cargo/git

    build-windows:
        build:
            context: .
            dockerfile: windows.Dockerfile
        volumes:
            - .:/app
            - /app/node_modules
            - cargo-registry:/root/.cargo/registry
            - cargo-git:/root/.cargo/git
            - xwin-cache:/root/.cache/cargo-xwin

volumes:
    cargo-registry:
    cargo-git:
    xwin-cache:
